<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>SpeedWagon</title>

    <link rel="stylesheet" href="/speedwagon/dist/speedwagon.min.css" />   
    
    @Html.RenderPartialViewStyles()

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="SpeedWagon" asp-action="Index" class="navbar-brand">SpeedWagon</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">WebSite</a>
                    </li>
                    <li><a asp-controller="SpeedWagonContent" asp-action="List">Content</a></li>
                    <li><a asp-controller="SpeedWagonEditor" asp-action="List">Editors</a></li>
                    <li><a asp-controller="SpeedWagonContentType" asp-action="List">Content Types</a></li>
                    <li><a asp-controller="SpeedWagonSearch" asp-action="Index">Search</a></li>
                    <li><a asp-controller="SpeedWagon" asp-action="Install">Install</a></li>
                </ul>
                @await Html.PartialAsync("~/Views/SpeedWagon/_LoginPartial.cshtml")
            </div>
        </div>
    </nav>

    <div class="container body-content" @*style="margin-top: 50px;"*@>

        @RenderBody()

        <hr />

        <footer>
            <p>&copy; @DateTime.UtcNow.Year - SpeedWagon (Don't fight the feeling)</p>
        </footer>
    </div>
    
    <script type="text/javascript" src="/speedwagon/dist/speedwagon.min.js"></script>
    
    @RenderSection("Scripts", required: false)

    @Html.RenderPartialViewScripts()

</body>
</html>