@model SpeedWagon.Web.Models.View.Content.ContentViewModel
@{
    Layout = "_Layout";
}
@section Scripts {

    @await Html.PartialAsync("_EditorScripts")
}
<h2>Content</h2>

<h3>Create</h3>

<form asp-controller="SpeedWagon" asp-action="Content" method="post">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter a name" asp-for="Name">
    </div>

    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" asp-items="Model.AvailableContentTypes" asp-for="Type"> </select>
    </div>


    <input type="hidden" asp-for="Parent" value="@Model.Content.RelativeUrl" />

    <button type="submit" class="btn btn-primary">Create</button>

</form>

<hr />

@if (Model.Content.Level > 0)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="SpeedWagon" asp-action="Content" asp-route-url="/content">Content</a>
            </li>


            @foreach (SpeedWagonContent crumb in Model.ContentService.BreadCrumb(Model.Content))
            {

                <li class="breadcrumb-item">
                    <a asp-controller="SpeedWagon" asp-action="Content" asp-route-url="@crumb.RelativeUrl">@crumb.Name</a>
                </li>
            }

        </ol>
    </nav>
}

@if (Model.Contents == null || !Model.Contents.Any())
{
    <p>No content defined</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Action
                </th>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Creator
                </th>
                <th>
                    Created
                </th>
                <th>
                    Updater
                </th>
                <th>
                    Updated
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (SpeedWagonContent content in Model.Contents)
            {
            <tr>
                <td>
                    <a asp-controller="SpeedWagon" asp-action="EditContent" asp-route-url="@content.RelativeUrl">Edit</a>
                </td>
                <td>
                    <a asp-controller="SpeedWagon" asp-action="Content" asp-route-url="@content.RelativeUrl">@content.Name</a>
                </td>
                <td>
                    @content.Type
                </td>
                <td>
                    @content.CreatorName
                </td>
                <td>
                    @content.CreateDate
                </td>
                <td>
                    @content.WriterName
                </td>
                <td>
                    @content.UpdateDate
                </td>


            </tr>
            }
        </tbody>
    </table>
}

