@model SpeedWagon.Web.Models.View.Editor.EditContentTypeViewModel
@{
    Layout = "~/Views/SpeedWagon/_Layout.cshtml";
}

<h2>Edit '@Model.ContentType.Name' Content Type</h2>


<ul class="nav nav-tabs">
    <li class="active">
        <a href="#list" data-toggle="tab"><span data-feather="list"></span>  Properties</a>
    </li>
    <li>
        <a href="#details" data-toggle="tab"><span data-feather="info"></span>  Details</a>
    </li>
    <li>
        <a href="#add" data-toggle="tab"><span data-feather="plus"></span>  Add Property</a>
    </li>
</ul>

@if (!string.IsNullOrEmpty(Model.Operation))
{
    <div class="alert alert-success" role="alert">
        Your changes were saved.
    </div>
}

<div class="tab-content clearfix">
    <div class="tab-pane active" id="list">

        <h4>Properties</h4>

        @if (Model.Editors != null && Model.Editors.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                       
                        <th>Name</th>
                        <th>Editor</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var property in Model.Editors)
                    {
                        <tr>
                            
                            <td>
                                @property.Name
                            </td>
                            <td>
                                @property.Editor
                            </td>
                            <td>
                                @property.Description
                            </td>
                            <td>
                                <a class="btn btn-info" asp-controller="SpeedWagonContentType" asp-action="EditProperty" asp-route-name="@Model.ContentType.Name" asp-route-property="@property.Name">Edit</a>


                                <form asp-controller="SpeedWagonContentType" asp-action="MoveEditorUp" method="post" style="display: inline;">
                                    <input type="hidden" value="@Model.ContentType.Name" name="Name" />
                                    <input type="hidden" value="@property.Name" name="Editor" />
                                    <input type="submit" class="btn btn-secondary" value="Up" />
                                </form>

                                <form asp-controller="SpeedWagonContentType" asp-action="MoveEditorDown" method="post" style="display: inline;">
                                    <input type="hidden" value="@Model.ContentType.Name" name="Name" />
                                    <input type="hidden" value="@property.Name" name="Editor" />
                                    <input type="submit" class="btn btn-secondary" value="Down" />
                                </form>

                                <form asp-controller="SpeedWagonContentType" asp-action="DeleteEditor" method="post" style="display: inline;">
                                    <input type="hidden" value="@Model.ContentType.Name" name="Name" />
                                    <input type="hidden" value="@property.Name" name="Editor" />
                                    <input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure?');" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="lead">No properties defined on content type</p>
        }
    </div>
    <div class="tab-pane" id="details">

        <h4>Details</h4>

        <form asp-controller="SpeedWagonContentType" asp-action="Edit" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input readonly type="text" class="form-control" placeholder="Name" required="required" asp-for="Name">
            </div>

            <div class="form-group">
                <label for="Children">Children</label>
                <select class="form-control" multiple asp-for="Children" asp-items="Model.AvailableContentTypes"></select>
            </div>
            <div class="form-check">

                <input asp-for="Root" class="form-check-input" />
                <label for="Root">Allow at Root?</label>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

    </div>
    <div class="tab-pane" id="add">

        <h4>Add Property</h4>

        <form asp-controller="SpeedWagonContentType" asp-action="AddProperty" method="post">

            <div class="form-group">
                <label for="name">Property Name</label>
                <input type="text" class="form-control" placeholder="Name" required="required" asp-for="ContentTypeEditor.Name">

            </div>

            <div class="form-group">
                <label for="type">Property Type</label>
                <select class="form-control" asp-items="Model.AvailableEditors" asp-for="ContentTypeEditor.Editor"></select>
            </div>

            <div class="form-group">
                <label for="name">Property Desciption</label>
                <textarea class="form-control" placeholder="Description" asp-for="ContentTypeEditor.Description" rows="3"></textarea>
            </div>

            <input type="hidden" asp-for="Url" value="@Model.Url" />
            <input type="hidden" asp-for="Name" value="@Model.Name" />
            <button type="submit" class="btn btn-primary">Add</button>

        </form>
    </div>
</div>





